{% extends "app/base.html" %}

{% load static %}

{% block title %}Login{% endblock %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset Password Completed!</h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width='200' height='200' class='giphy-embed' allowFullScreen frameborder="0"></iframe>
            </div>
        </div>
    </div>

    
{% endblock %}